[Unit]
Description=Falcon Pi Twitter Worker
After=network.target
Documentation=https://thealmostengineer.com/projects/falcon-pi-twitter

[Service]
Type=simple
Restart=always
ExecStart=/home/fpp/media/plugins/falconpitwitter/Almostengr.FalconPiTwitter.Worker.dll
User=fpp

[Install]
WantedBy=multi-user.target